.instagram-logo-box span{
    color: #737373;
    text-align: center;
    align-self: center;
    font-size: 15px;
    width: 236px;
    font-weight: bold;
}


.info-container{
    text-align: center;
    align-self: center;
    font-size: x-small;
    width: 239px;
    color: #737373;
}
